@{
    ViewData["Title"] = "Home Page";


    <p>@TaskPlanner.Helpers.SqlServer.IsServerConnected(TaskPlanner.Helpers.SqlServer.Connection)</p>

    if (TaskPlanner.Helpers.SqlServer.IsServerConnected(TaskPlanner.Helpers.SqlServer.Connection) != false)
    {
        <p>Forbindelsen til din lokale server er oprettet</p>

        @if (TaskPlanner.Helpers.SqlServer.tableExists("Shifts") != 0)
        {
            @using (Html.BeginForm("InsertData", "Home", FormMethod.Post))
            {
                <input type="submit" name="submit" value="Generer testdata" class="btn-success dataBtn" />
            }
            <br />
            <br />
            <br />

            <div class="text-center">
                <h1 class="display-4">Vagter d. @DateTime.Now.ToString("d/M/yyyy")</h1>
            </div>
            <br />
            <br />
            <br />

            List<ShiftDisplay> todaysSfifts = TaskPlanner.Helpers.DbQueries.TodaysShifts();
            <table class="table thead-dark">
                <thead>
                    <tr>
                        <th>Start tidspunkt</th>
                        <th>Slut tidspunkt</th>
                        <th>Medarbejder (alder)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ShiftDisplay display in todaysSfifts)
                    {
                        <tr>
                            <td>@display.Start</td>
                            <td>@display.End</td>
                            <td>@display.Employee (@display.Age)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <ol class="align-content-center alert-primary">
                <li>Opret en database ved navnet 'TaskPlanner'</li>
                <li>
                    Luk applikationen og kør derefter følgende kommandoer i Package Mangement konsollen  for at oprette tabeller i databasen:<br />
                    'Add-migration InitialMigration -o Data\Migrations' <br />
                    'Update-database' <br />
                </li>
                <li>Når applikationen kører kan du klikke på 'Generer testdata' knappen for at genere tastdata</li>
            </ol>
        }
    }
    else
    {
       
        if (TaskPlanner.Helpers.SqlServer.IsServerConnected(TaskPlanner.Helpers.SqlServer.Connection) != false)
        {
            <h2>Forbindelsen er oprettet</h2>
        }
        else
        {
            <h2>Der er ingen forbindelse til din lokale server</h2>
            <br />
            <h2>Hvis "@System.Environment.MachineName" ikke er navnet på din lokale SQL Server må den sættes manuelt i SqlServer.cs rodmappen og kør projektet på ny og genstart applikationen.</h2>
        }
    }
}
