@model IEnumerable<TaskPlanner.Models.WorkTask>

@{
    ViewData["Title"] = "Opgaver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Arbejdsopgaver</h1>

<p>
    <a asp-action="Create">Opret Opgave</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Opgavens navn
            </th>
            <th>
                Minimumsalder
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinAge)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
               <!-- @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |-->
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
